:root {
  --main-color: rgb(255, 255, 255);
  --secondary-color: rgb(208, 179, 15);
  --tertiary-color: #0FD0B3;
  --quaternary-color: rgb(0, 0, 0);
  --quinary-color: rgb(0, 0, 0);
}

html > div {
  display: none;
}

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--tertiary-color);
  user-select: none;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}



