:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --transp: rgba(0, 0, 0, 0);
  --transp-50: rgba(0, 0, 0, 0.5);
  --transp-25: rgba(0, 0, 0, 0.25);
  --transp-15: rgba(0, 0, 0, 0.15);
  --gold-700: rgb(249, 239, 192);
  --yellow-300: rgb(208, 179, 15);
  --green-300: rgb(15, 208, 179);
  --pink-300: rgb(179, 15, 208);
  --red-300: rgb(204, 0, 0);
  --thin: 200;
  --regular: 400;
  --bold: 600;
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-30: 30px;
  --font-36: 36px;
  --font-42: 42px;
  --font-48: 48px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Tinos', serif;
}

html > div {
  display: none;
}

body {
  background-color: var(--dark);
  user-select: none;
  cursor: auto;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}



