.cursor{
  position: absolute;
  margin-top: 70px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
  height: 10px;
  filter: drop-shadow(10px 10px 10px white) drop-shadow(10px 10px 10px white) drop-shadow(10px 10px 10px white);
}
