.cursor{
  position: absolute;
  margin-top: 70px;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  filter: drop-shadow(0px 0px 20px white) drop-shadow(0px 0px 20px white) drop-shadow(0px 0px 10px white);
}
