.logo{
  z-index: 6;
  position: absolute;
  width: 5rem;
  left: 1rem;
  top: 1rem;
  color: var(--light);
  font-size: var(--size-1);
  text-shadow: 2px 2px 5px var(--transp-50);
  background-color: var(--transp);
  border-radius: 1rem;
  padding: 0.75rem;
  text-align: center;
  letter-spacing: 0.1rem;
  filter: opacity(0.5);
}

.logo:hover{
  filter: opacity(1);
}