.logo{
  z-index: 2;
  position: absolute;
  left: 5%;
  top: 5%;
  color: var(--light);
  font-size: var(--size-1);
  text-shadow: 2px 2px 5px var(--transp-50);
  background-color: var(--transp-25);
  border-radius: 2rem;
  padding: 1rem;
}