.logo{
  z-index: 6;
  position: absolute;
  width: 4rem;
  left: 2rem;
  top: 2rem;
  color: var(--light);
  font-size: var(--font-14);
  background-color: var(--transp);
  border-radius: 0rem;
  text-align: center;
  letter-spacing: 0.1rem;
  filter: opacity(0.5) drop-shadow(2px 2px 1px var(--dark));
  transition: 0.2s;
}

.logo:hover{
  filter: opacity(1);
}