.logo{

  width: 3rem;

  color: var(--light);
  font-size: var(--font-14);
  background-color: var(--transp);
  border-radius: 0rem;
  text-align: center;
  letter-spacing: 0.1rem;
  filter: opacity(0.5) drop-shadow(2px 2px 2px var(--gray-200));
  transition: 0.2s;
}

.container:hover .logo{
  filter: opacity(1) drop-shadow(1px 1px 1px var(--gray-200));
  transform: rotateY(180deg);
}

.container{
  z-index: 6;
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 3rem;
  height: 3rem;
}