.container {
  z-index: 2;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 60%;
  padding: 1rem;
  border: 0px solid gray;
  transition: 5 lins;
  background: linear-gradient(45deg, var(--transp) 50%, var(--transp-25) 100%);
  /* background-color: black; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.sectionContainer {
  color: var(--light);
  font-size: var(--size-25);
  text-shadow: 2px 2px 2px var(--transp-25);
  width: 100%;
  height: 100%;
}

.text {
  padding: 0.25rem;
  width: fit-content;
  transition: 0s;
}

.shifted0 {
  transform: perspective(99999px) rotateX(90deg);
  transform-origin: 50% 0%;
  transition-delay: 0s;
}
.shifted1 {
  transform: perspective(99999px) rotateX(0deg);
  transform-origin: 0% 0%;
  transition-delay: 0.4s;
}
.shifted2 {
  transform: perspective(99999px) rotateX(-90deg);
  transform-origin: 50% 100%;
  transition-delay: 0s;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-block: 2rem;
  text-shadow: 2px 2px 2px var(--transp-25);
}

.iconImage {
  width: 3rem;
}

.iconSubtitle {
  font-size: var(--size-1);
  text-align: center;
  width: 75%;
  margin-top: 1rem;
}

.iconArrow {
  position: absolute;
  width: 4rem;
  right: 16%;
  margin: auto;
  filter: opacity(0) drop-shadow(0px 0px 10px var(--light))
    drop-shadow(0px 0px 10px var(--light)) drop-shadow(0px 0px 10px var(--light));
  transition: 0.5s;
}

.container:hover ~ .iconArrow {
  filter: opacity(1) drop-shadow(0px 0px 10px var(--light))
    drop-shadow(0px 0px 10px var(--light)) drop-shadow(0px 0px 10px var(--light));
}
