.container {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 60%;
  transition: 0.75s;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainText {
  font-size: var(--font-42);
  padding: 0.25rem;
  width: fit-content;
  transition: 0s;
}

.shifted0 {
  transition-delay: 0s;
  filter: opacity(0);
}
.shifted1 {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: opacity(1);
}
.shifted2 {
  transition-delay: 0s;
  filter: opacity(0);
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: red;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-block: 2rem;
}

.iconImage {
  width: 3rem;
  filter: brightness(0.9);
  transition: 0.2s;
}

.icon:hover .iconImage {
  filter: brightness(1);
}

.iconSubtitle {
  font-size: var(--font-20);
  text-align: center;
  width: 75%;
  margin-top: 1rem;
}

.iconBig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
}

.arrowContainer {
  position: absolute;
  display: flex;
  bottom: 10%;
  z-index: 2;
  filter: opacity(1);
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
}

.arrowUp {
  width: 2.5rem;
  cursor: pointer;
  transition: 0.1s;
}

.arrowUp:active{
  transform: translateY(10%);
}

.arrowDown {
  width: 2.5rem;
  cursor: pointer;
  transition: 0.1s;
}

.arrowDown:active{
  transform: translateY(10%);
}
