.container {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 60%;
  padding: 1rem;
  transition: 0.75s;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainText {
  font-size: var(--font-42);
  padding: 0.25rem;
  width: fit-content;
  transition: 0s;
}

.shifted0 {
  transform: translate(0%, 0%);
  transition-delay: 0s;
  filter: opacity(0);

}
.shifted1 {
  transform: translate(0%, 0%);
  transition-delay: 0.5s;
  filter: opacity(1);
}
.shifted2 {
  transform: translate(0%, 0%);
  transition-delay: 0s;
  filter: opacity(0);

}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-block: 2rem;
}

.iconImage {
  width: 3rem;
  filter: brightness(0.9);
  transition: 0.2s;
}

.icon:hover  .iconImage{
  filter: brightness(1);
}

.iconSubtitle {
  font-size: var(--font-20);
  text-align: center;
  width: 75%;
  margin-top: 1rem;
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  z-index: 10;
  width: 3rem;
  height: 7rem;
  right: 16%;
  margin: auto;
  filter: opacity(0.5);
  transition: 0.5s;
}

.arrowUp{
  width: 100%;
}

.arrowDown{
  width: 100%;
  
}
