.container {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 60%;
  transition: 0.75s;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainText {
  font-size: var(--font-42);
  padding: 0.25rem;
  width: fit-content;
  transition: 0s;
}

.smallText{
  font-size: var(--font-24);
  padding: 0.25rem;
}

.shifted0 {
  transition-delay: 0s;
  filter: opacity(0);
  visibility: hidden;
}
.shifted1 {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: opacity(1);
  visibility: visible;
}
.shifted2 {
  transition-delay: 0s;
  filter: opacity(0);
  visibility: hidden;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-block: 2rem;
  text-decoration: none;
}

.iconImage {
  width: 5rem;
  height: 5rem;
  filter: brightness(0.7) saturate(0);
  transition: 0.3s;
}

.icon:hover .iconImage {
  filter: brightness(1) saturate(1);
}

.iconWebsite{
  width: 8rem;
  height: 8rem;
  background: url("../assets/icons/website4.png");
  background-size: 100% 100%;
  filter: brightness(1) saturate(0.75);
  cursor: pointer;
}

.icon:hover .iconWebsite{
  background: url("../assets/icons/website5.png");
  background-size: 100% 100%;
}

.iconSubtitle {
  font-size: var(--font-20);
  text-align: center;
  width: 75%;
  margin-top: 0.5rem;
}

.iconBig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
}

.iconBigImage {
  width: 9rem;
  height: 9rem;
  filter: brightness(0.7);
  transition: 0.2s;
  background: url("../assets/icons/email1.png");
  background-size: 100%;
  transition: 0.5s;
}

.iconBigImage:hover{
  filter: brightness(1);
  background: url("../assets/icons/email3.png");
  background-size: 100%;
  transition: 0.5s;
}

.iconBigSubtitle {
  font-size: var(--font-30);
  text-align: center;
  width: 75%;
  margin-top: 1rem;
}

.arrowContainer {
  position: absolute;
  display: flex;
  bottom: 10%;
  z-index: 2;
  filter: opacity(1);
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
}

.arrowUp {
  width: 2.5rem;
  cursor: pointer;
  transition: 0.1s;
  filter: saturate(0) brightness(1) opacity(0.75);
}

.arrowUp:active{
  transform: translateY(10%);
}

.arrowUp:hover{
  filter: saturate(0) brightness(1);
}

.arrowDown {
  width: 2.5rem;
  cursor: pointer;
  transition: 0.1s;
  filter: saturate(0) brightness(1) opacity(0.75);
}

.arrowDown:active{
  transform: translateY(10%);
}

.arrowDown:hover{
  filter: saturate(0) brightness(1);
}